{include file="head"}
<!--Start content-->
<section class="Shop-index">
  
 <article>
 
  <div class="shopinfor">
   <div class="title">
    <img src="/uploads/wpjnewlogo.jpg" class="shop-ico">
    <span>{$shop['shop_name']}</span>
    <span>
     <img src="/static/index/images/star-on.png">
     <img src="/static/index/images/star-on.png">
     <img src="/static/index/images/star-on.png">
     <img src="/static/index/images/star-on.png">
     <img src="/static/index/images/star-off.png">
    </span>
    <span>4.8</span>
   </div>
   <div class="imginfor">
    <div class="shopimg">
     <img src="{$shop['shop_icon']}" id="showimg">
      <ul class="smallpic">
       <li><img src="{$shop['shop_icon']}" onmouseover="show(this)" onmouseout="hide()"></li>
      </ul>
    </div>
    <div class="shoptext">
     <p><span>地址：</span>{$shop['shop_address']}</p>
     <p><span>电话：</span>{$shop['shop_tel']}</p>
     <p><span>特色菜品：</span>{$shop['menu_name']}</p>
     <p><span>优惠活动：</span>{$shop['shop_activity']}</p>
     <p><span>停车位：</span>{$shop['shop_parking_space']}个停车位（免费）</p>
     <p><span>营业时间：</span>{$shop['shop_open_time']}</p>
     <p><span>WIFI：</span>免费WIFI:{$shop['shop_WIFI']}</p>
     <p><span>人均消费：</span>{$shop['shop_avg_consume']}元</p>
     <div class="Button">
      <a href="#ydwm"><span class="DCbutton">查看菜谱点菜</span></a>
     </div>
	 
	 <!--我的收藏-->
     <div class="otherinfor">
	 
     <a href="/index/store/UserFavorShop?shop_id={$shop_id}" class="icoa"><img src="/static/index/images/collect.png">收藏店铺</a>
      <a href="/index/store/delFavor?shop_id={$shop_id}" class="icoa"><img src="/static/index/images/collect.png">取消收藏</a>
	 <div class="bshare-custom"><a title="分享" class="bshare-more bshare-more-icon more-style-addthis">分享</a></div>
	 <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script>
	 <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
     
	 
	 </div>
   </div>
  </div>
 
  <div class="shopcontent">
  <div class="title2 cf">
    <ul class="title-list fr cf ">
      <li class="on">菜谱</li>
      <li>累计评论（5）</li>
      <li>商家详情</li>
      <li>店铺留言</li>
      <p><b></b></p>
    </ul>
  </div>

  <div class="menutab-wrap">
   <a name="ydwm">
    <!--case1-->

    <div class="menutab show">
     <ul class="products">
    {foreach $shop_detail as $shop_info}
		<li>
		 <a href="/index/shopping/detail?shop_id={$shop_info['shop_id']}&shop_name={$shop_info['shop_name']}&menu_id={$shop_info['menu_id']}" target="_blank" title="{$shop_info['menu_name']}">
         <img src="/uploads/{$shop_info['menu_icon']}" class="foodsimgsize">
         </a>
          <a href="#" class="item">
		 <div>
		  <p>{$shop_info['menu_name']}</p>
		  <p class="AButton">拖至购物车:￥{$shop_info['menu_price']}</p>
		 </div>
		 </a>
		</li>
		{/foreach}
       <div class="TurnPage">
     <a href="#">
      <span class="Prev"><i></i>首页</span>
     </a>
     <a href="#"><span class="PNumber">1</span></a>
     <a href="#"><span class="PNumber">2</span></a>
     <a href="#">
     <span class="Next">最后一页<i></i></span>
     </a>
    </div>
	 </ul>
    </div>
    </a>

    <!--case2-->
    <div class="menutab">
     <div class="shopcomment">
      <div class="Spname">
       <a href="#" target="_blank" title="{$shop['menu_name']}">{$shop['menu_name']}</a>
      </div>
      <div class="C-content">
       <q>还不错，速度挺快,还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快。。。</q>
       <i>2014年09月17日 19:36 </i>
      </div>
      <div class="username">
      DeatGhost
      </div>
     </div>
    </div>
    <!--case4-->
    <div class="menutab">
     <div class="shopdetails">
     <div class="shopmaparea">
      <img src="/uploads/testimg.jpg"><!--此处占位图调用动态地图后将其删除即可-->
     </div>
     <div class="shopdetailsT">
      <p><span>店铺：{$shop['shop_name']}</span></p>
      <p><span>地址：</span>{$shop['shop_address']}</p>
      <p><span>电话：</span>{$shop['shop_tel']}</p>
      <p><span>乘车路线：</span>{$shop['shop_route']}</p>
      <p><span>店铺介绍：</span>{$shop['shop_info']}</p>
     </div>
    </div>
    </div>
    <!--case5-->
    <div class="menutab">
     <span class="Ask"><i>DeathGhost</i>:这里是测试问答？</span>
     <span class="Answer"><i>管理员回复</i>：这里是测试回答！</span>

     <div class="TurnPage">
     <a href="#">
      <span class="Prev"><i></i>首页</span>
     </a>
     <a href="#"><span class="PNumber">1</span></a>
     <a href="#"><span class="PNumber">2</span></a>
     <a href="#">
     <span class="Next">最后一页<i></i></span>
     </a>
    </div>
    
     <form class="A-Message" action="#"> 
      <p><i>姓名：</i><input name="usr_name" type="text" autofocus placeholder="张三" required></p>
      <p><i>手机：</i><input name="" type="text" placeholder="15825518***" pattern="[0-9]{11}" required></p>
      <p><i>邮件：</i><input type="email" name="email" autocomplete="off" placeholder="admin@admin.com" required/></p>
      <p><i>问题补充：</i><textarea name="" cols="" rows="" required placeholder="详细说明您的问题..."></textarea></p>
      <p><input type="submit" class="Abutt" /></p>
     </form>
    </div>
  </div>
</div>
 </article>
 <aside>
  <div class="cart" id="Topcart">
	<span class="Ctitle Block FontW Font14"><a href="cart.html" target="_blank">我的购物车</a></span>
	<table id="cartcontent" fitColumns="true">
	<thead>
	<tr>
	<th width="33%" align="center" field="name">商品</th>
	<th width="33%" align="center" field="quantity">数量</th>
	<th width="33%" align="center" field="price">价格</th>
	</tr>
	</thead>
	</table>
	<p class="Ptc"><span class="Cbutton"><a href="cart.html" target="进入购物车">进入购物车</a></span><span class="total">共计金额: ￥0</span></p>
  </div>
  
  <div class="Nearshop">
   <span class="Nstitle">附近其他店铺</span>
   <ul>
    <li>
     <img src="/uploads/cc.jpg">
     <p>
     <span class="shopname" title="动态调用完整标题"><a href="detailsp.html" target="_blank" title="肯德基">肯德基</a></span>
     <span class="Discolor">距离：1.2KM</span>
     <span title="完整地址title">地址：西安市雁塔区2000号...</span>
     </p>
    </li>
   </ul>
  </div>

  <div class="History">
   <span class="Htitle">浏览历史</span>
   <ul>
    <li>
    <a href="detailsp.html" target="_blank" title="清真川菜馆"><img src="/uploads/cc.jpg"></a>
    <p>
     <span class="shopname" title="动态调用完整标题"><a href="detailsp.html" target="_blank" title="正宗陕北小吃城">正宗陕北小吃城</a></span>
     <span>西安市莲湖区土门十西安市莲湖区土门十字西安市莲湖区土门十字.</span>
    </p>
    </li>
    <span>[ <a href="#">清空历史记录</a> ]</span>
   </ul>
  </div>
 </aside>
 
</section>

<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  <a href="http://www.deathghost.cn" target="_blank" title="DeathGhost">DeathGhost</a>
  <a href="http://www.17sucai.com/pins/15966.html" target="_blank" title="免费后台管理模板">绿色清爽版通用型后台管理模板免费下载</a>
  <a href="http://www.17sucai.com/pins/17567.html" target="_blank" title="果蔬菜类模板源码">HTML5果蔬菜类模板源码</a>
  <a href="http://www.17sucai.com/pins/14931.html" target="_blank" title="黑色的cms商城网站后台管理模板">黑色的cms商城网站后台管理模板</a>
 </div>
{include file="foot"}