{include file="head"}
{include file="left"}


<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 后台管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			
			<div class="cl pd-5 bg-1 bk-gray mt-20"> </span> <span class="r">共有数据：<strong>{$le}</strong> 条</span> </div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="7">权限节点</th>
					</tr>
					<tr class="text-c">
						
						<th width="40">权限ID</th>
						<th width="200">权限结构</th>
						<th width="200">名称</th>
						<th>排序</th>
						<th>类型</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					{foreach $re as $v}
					<tr class="text-c">
						
						<td>{$v['id']}</td>
						
						<td>
							<p style = "text-indent:{$v['level']*30}px;">{$v['title']}</p>
						</td>
					    
						<td>{$v['name']}</td>
						<td>{$v['url']}</td>
						<td>
                          {if condition="$v['level'] eq 1"}项目{elseif condition="$v['level'] eq 2"}
                          <div style="color:green;">模块</div>
                          {else /}
                          <div style="color:blue;"> 操作</div>
                          {/if}
							

						</td>
						<td> <a title="删除" href="/admin/authority/delenode?id={$v['id']}"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
					{/foreach}
				</tbody>
			</table>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file="footer"}

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC_ADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC_ADMIN__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function admin_permission_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-权限-编辑*/
function admin_permission_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}



}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>