<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__admin1/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__admin2/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__admin2/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC_ADMIN__admin2/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>新建网站角色 - 管理员管理 - H-ui.admin 3.0</title>
<meta name="keywords" content="H-ui.admin 3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin 3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="cl pd-20">
	<form action="/admin/authority/addrolenode" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$re['name']}" placeholder="" id="roleName" name="roleName" datatype="*4-16" nullmsg="用户账户不能为空">
				<input type="hidden" name="rid" value="{$re['id']}" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$re['remark']}" placeholder="" id="" name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<dl class="permission-list">
					{foreach $access as $v}
					<dt style="text-indent:{$v['level']*20}px; {if condition=" $v['level'] eq 3 "}float:left;margin-right:-40px;{else/}clear:both;{/if}">
						<label>
							<input type="checkbox" value="{$v['id']}_{$v['level']}" name="access[]" id="{$v['id']}"
                               pid="{$v['pid']}" level="{$v['level']}"
							 />
                             {if condition=" $v['level'] eq 1 "}<span style="font-weight:bold;">[项目]</span>
                                {elseif condition="$v['level'] eq 2"/}<span style="font-weight:bold;">[模块]</span>{/if}
                                 
							      {$v['title']}


						</label>
					</dt>
						{/foreach}
				</dl>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name=""><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="footer"}

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC_ADMIN__lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC_ADMIN__lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC_ADMIN__lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">

	$('input').click(function(){
         var level = $(this).attr('level');
         if(level == 1)
         { 
         	var str = '_';
            var inputs = $('input[value*='+str+']');
           if($(this).is(':checked')){ inputs.prop('checked',true); }else{ inputs.prop('checked',false); } 
         }else if(level == 2)
         { 
         	var id = $(this).attr('id');
            var inputs = $('input[pid='+id+']');
           $(this).is(':checked') ? inputs.prop('checked',true) : inputs.prop('checked',false);
         }else if(level == 3){
         	if($(this).is(':checked'))
         	{
         		var pid=$(this).attr('pid');
         		console.log($('input[id='+pid+']'));
         		$('input[id='+pid+']').prop('checked',true);
         		var ppid=$('input[id='+pid+']').attr('pid');
         		$('input[id='+ppid+']').prop('checked',true);
         	}
         }

	});
	
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>