
{include file="head"}
<section class="Psection MT20">
 <form>
  <table class="Register">
  <tr>
  <td width="40%" align="right" class="FontW">用户名：</td>
  <td><input type="text" name="" id="name"  ></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">密码：</td>
  <td><input type="password" name=""  id="pwd"></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">再次确认：</td>
  <td><input type="password" name="" id="repwd"></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">电子邮件：</td>
  <td><input type="email" name="" id="email" ></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">手机号码：</td>
  <td><input type="text" name=""  pattern="[0-9]{11}"></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">手机校验码：</td>
  <td><input type="text" name=""  pattern="[0-9]{6}"></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">验证码：</td>
  <td><input type="text" name="" ><img src="upload/captcha.png" style="margin-left:8px; vertical-align:bottom" width="83" height="36"></td>

  </tr>
  <tr>
  <td width="40%" align="right"></td>
  <td><input type="submit" name="" class="Submit_b" value="注 册">( 已经是会员，<a href="login.html" class="BlueA">请登录</a> )</td>
  </tr>
  </table>
 </form>
</section>
<!--End content-->
<div class="F-link">

  
 </div>
 <script type="text/javascript">
//为表单元素添加失去焦点事件
    $("form :input").blur(function(){
        var $parent = $(this).parent();
        //验证名称
        if($(this).is("#name")){
        	$("span").remove();
            if($.trim(this.value) == "" || $.trim(this.value).length < 6){
                var errorMsg = " 请输入至少6位的名称！";
                $parent.append("<span >" + errorMsg + "</span>");
                 $(this).focus();
            }
            else{
                var okMsg=" 输入正确";
                $parent.find(".high").remove();
                $parent.append("<span >" + okMsg + "</span>");
            }
        }
        //验证邮箱
        if($(this).is("#email")){
        	$("span").remove();
            if($.trim(this.value) == "" || ($.trim(this.value) != "" && !/.+@.+\.[a-zA-Z]{2,4}$/.test($.trim(this.value)))){
                var errorMsg = " 请输入正确的E-Mail地址！";
                $parent.append("<span >" + errorMsg + "</span>");
                $(this).focus();
            }
            else{
                var okMsg=" 输入正确";
                $parent.find(".high").remove();
                $parent.append("<span >" + okMsg + "</span>");
            }
        }
    });

 </script>
 {include file="foot"}

