{include file="head"}
<!--Start content-->
<section class="Psection MT20">
 <article class="Searchlist Overflow">
  <ul class="Overflow">
  {foreach $shops as $shop_info}
    <li>
    <a href="/index/store/storedetail?shop_id={$shop_info['shop_id']}">
      <img src="{$shop_info['shop_icon']}">
    </a>
    <p class="P-shop Overflow">
      <span class="sa">
        <a href="/index/store/storedetail?shop_id={$shop_info['shop_id']}">
          {$shop_info['shop_name']}
        </a>
      </span>
      <span class="sp">{$shop_info['shop_menu_type']}</span>
    </p>
    <p class="P-shop Overflow">{$shop_info['shop_address']}</p>
    </li>
  {/foreach}
  </ul>
  <div class="TurnPage">
  <a href="#">
  <span class="Prev"><i></i>首页</span>
  </a>
  <a href="#"><span class="PNumber">1</span></a>
  <a href="#"><span class="PNumber">2</span></a>
  <a href="#">
  <span class="Next">最后一页<i></i></span>
  </a>
 </div>
 </article>
 <aside class="Sraside">
  <div class="bestshop">
  <span class="Bpt Block FontW Font14">推荐店铺</span>
  <ul>
   <li>
    <a href="shop.html" title="好味来快餐店" target="_blank"><img src="upload/cc.jpg"></a>
    <p>
     <span class="Block FontW Font14"><a href="detailsp.html" title="好味来快餐店" target="_blank" class="CorRed">好味来快餐店</a></span>
     <span class="Block Overflow">西安 · 莲湖区</span>
     <span class="Block Overflow">西安市莲湖区土门十字...</span>
    </p>
   </li>
  </ul>
  </div>
  <!--广告位或其他推荐版块-->
  <img src="upload/ggw.jpg">
 </aside>
</section>
<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  <a href="http://www.deathghost.cn" target="_blank" title="DeathGhost">DeathGhost</a>
  <a href="http://www.17sucai.com/pins/15966.html" target="_blank" title="免费后台管理模板">绿色清爽版通用型后台管理模板免费下载</a>
  <a href="http://www.17sucai.com/pins/17567.html" target="_blank" title="果蔬菜类模板源码">HTML5果蔬菜类模板源码</a>
  <a href="http://www.17sucai.com/pins/14931.html" target="_blank" title="黑色的cms商城网站后台管理模板">黑色的cms商城网站后台管理模板</a>
 </div>
{include file="foot"}
</body>
</html>
