{include file="head"}
<!--Start content-->
<form action="#">
 <div class="gwc" style=" margin:auto;">
  <table cellpadding="0" cellspacing="0" class="gwc_tb1">
    <tr>
      <td class="tb1_td1"><input id="Checkbox1" type="checkbox"  class="allselect"/></td>
      <td class="tb1_td1">全选</td>
      <td class="tb1_td3">商品</td>
      <td class="tb1_td4">原价</td>
      <td class="tb1_td5">数量</td>  
      <td class="tb1_td6">单价</td>
      <td class="tb1_td7">操作</td>
    </tr>
  </table>
  {if !empty($shop_cart)}
   {foreach $shop_cart as $menu_info}
      <table cellpadding="0" cellspacing="0" class="gwc_tb2" id="table1">
        <tr>
         <td colspan="7" class="shopname Font14 FontW">店铺：好味来快餐店</td>
        </tr>
        <tr>
          <td class="tb2_td1"><input type="checkbox" value="{{$menu_info['menu_id']}}" name="newslist" id="newslist-1" /></td>
          <td class="tb2_td2"><a href="detailsp.html" target="_blank"><img src="{$menu_info['menu_icon']}"/></a></td>
          <td class="tb2_td3"><a href="detailsp.html" target="_blank">{$menu_info['menu_name']}</a></td>
          <td class="tb1_td4"><s>￥{$menu_info['menu_price']+20}</s></td>
           <td class="tb1_td5"><input id="min1" name=""  style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="-" />
            <input id="text_box1" name="" type="text" value="1" style=" width:40px;height:28px; text-align:center; border:1px solid #ccc;" />
            <input id="add1" name="" style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="+" />
          </td>
          <td class="tb1_td6">
            <label id="price"  style="color:#ff5500;font-size:14px; font-weight:bold;">{$menu_info['menu_price']}</label>
          </td>
          <td class="tb1_td7"><a href="#" id="delcart1">删除</a></td>
        </tr>
      </table>
    {/foreach}
  {/if}
  <table cellpadding="0" cellspacing="0" class="gwc_tb3">
    <tr>
      <td class="tb1_td1"><input id="checkAll" class="allselect" type="checkbox" /></td>
      <td class="tb1_td1">全选</td>
      <td class="tb3_td1"><input id="invert" type="checkbox" />
        反选
        <input id="cancel" type="checkbox" />
        取消 </td>
      <td class="tb3_td2 GoBack_Buy Font14"><a href="#" target="_blank">继续购物</a></td>
      <td class="tb3_td2">已选商品
        <label id="shuliang" style="color:#ff5500;font-size:14px; font-weight:bold;">0</label>
        件</td>
      <td class="tb3_td3">合计(不含运费):<span>￥</span><span style=" color:#ff5500;">
        <label id="zong1" style="color:#ff5500;font-size:14px; font-weight:bold;">0.00</label>
        </span></td>
      <td class="tb3_td4"><span id="jz1">结算</span><a href="confirm_order.html" style=" display:none;"  class="jz2" id="jz2">结算</a></td>
    </tr>
  </table>
</div>
</form>
<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  <a href="http://www.deathghost.cn" target="_blank" title="DeathGhost">DeathGhost</a>
  <a href="http://www.17sucai.com/pins/15966.html" target="_blank" title="免费后台管理模板">绿色清爽版通用型后台管理模板免费下载</a>
  <a href="http://www.17sucai.com/pins/17567.html" target="_blank" title="果蔬菜类模板源码">HTML5果蔬菜类模板源码</a>
  <a href="http://www.17sucai.com/pins/14931.html" target="_blank" title="黑色的cms商城网站后台管理模板">黑色的cms商城网站后台管理模板</a>
 </div>
  {include file="foot"}
</body>
</html>
