{include file="head"}
<!--Start content-->
<!--  /index/shopping/confirm_order-->
{if !empty($shop_cart)}
 <div style="position:relative;left:15%;">
  <table id="cartTable">
      <thead>
          <tr>
              <th><label><input class="check-all check" type="checkbox">&nbsp;全选</label></th>
              <th>商品</th>
              <th>单价/￥</th>
              <th>数量</th>
              <th>小计</th>
              <th>操作</th>
          </tr>
      </thead>
      <tbody>
      
        {foreach $shop_cart as $menu_info}
          <tr class="on">
              <td class="checkbox">
                <input class="check-one check" name="menu" type="checkbox" value="{$menu_info['menu_id']}">
               <!--  <input type="hidden" name="shop" value="{$menu_info['shop_id']}"> -->
              </td>
              <td class="goods">
                <img src="/uploads/{$menu_info['menu_icon']}" alt="商品">
                <span>{$menu_info['menu_name']}</span>
                
              </td>
              <td class="price">{$menu_info['menu_price']}</td>
              <td class="count">
                <span class="reduce"></span>
                <input class="count-input" type="text" name="num" value="1">
                <span class="add">+</span>
              </td>
              <td class="subtotal">{$menu_info['menu_price']}</td>
              <td class="operation">
                <span class="delete">
                <a href="javascript:void(0);"  onclick="get({$menu_info['menu_id']},{$menu_info['shop_id']})">
                   <button class="shop"  value="{$menu_info['shop_id']}">删除</button>
                </a>
                </span>
              </td>
          </tr>
        {/foreach}
      </tbody>
  </table>
  <div class="foot" id="foot">
      <label class="fl select-all"><input type="checkbox" class="check-all check">&nbsp;全选</label>
      <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
      <a href="javascript:void(0);" onclick="amount();"><div class="fr closing">结 算</div></a>
      <div class="fr total">合计：￥<span id="priceTotal">0</span></div>
      <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
      <div class="selected-view">
          <div id="selectedViewList" class="clearfix">  
            <div>
              {foreach $shop_cart as $menu_info}
              <img src="/uploads/{$menu_info['menu_icon']}">
              {foreach}
              <span class="del" index="0">取消选择</span>
            </div>  
          </div>
          <span class="arrow">◆<span>◆</span></span>
      </div>
  </div>
</div> 
{/if}
   
  
  {if empty($shop_cart)}
    <div class="gwc" style=" margin:auto;">
      <p style="height:30px;font-size:20px;position:relative;left:30%;">
        购物车空空如也,快去<a href="/index/index/index" style="color:red;">添加商品</a>到购物车
      </p>
    </div>
  {/if}
  
  <script type="text/javascript">
   var user_id = "<?php echo session('user_id');?>";
    //删除购物车
    function get(menu_id,shop_id)
    { 
      if (confirm('确定删除此菜品?'))
        {
          $.get("{:url('index/shopping/delete_order')}",{menu_id:menu_id,shop_id:shop_id,user_id:user_id},function(data){
              if (data)
              {
                window.location.reload();
              }    
            },'json');      
        }
    }
    //结算购物车
    function amount()
    {
      
      var menu_id = $('.checkbox :checkbox:checked').val();
     //查询所有选中的菜品id
      var str = ""; 
      $("input[name='menu']:checkbox").each(function() 
      { 
        if($(this).is(":checked")) 
        { 
          str += $(this).attr("value")+","; 
          
        }
      });
      str = str.substr(0,str.length-1);
      console.log(str);
      //查询所有选中的菜品id
      var shop = ""; 
      $(".shop").each(function() 
      { 
          shop += $(this).attr("value")+","; 
          
      });
      shop = shop.substr(0,shop.length-1);
      console.log(shop);
      //查询所有选中的菜品id
      var num = ""; 
      $("input[name='num']:text").each(function() 
      { 
          num += $(this).attr("value")+","; 
          
      });
      num = num.substr(0,num.length-1);
      console.log(num);
      $.get("{:url('index/shopping/add_order')}",{menu_id:str,shop_id:shop,num:num},function(data){
          if(data)
          {
              window.location.href = '/index/shopping/confirm_order';
          }
      },'json');
      
        
    }
  </script>
<!--End content-->
  {include file="foot"}
</body>
</html>
