{include file="head"}
<!--Start content-->
<section class="Psection MT20">
 <article class="A-left Overflow">
  <h1 class="Font16 FontW classtitle">公司简介( 这里是文章标题 )</h1>
  <div class="A-read">
      管理企业最难的应该就是人心，就好比恋爱一般，得其人不得其心，也是无济于事，除非你是做表面形式，给别人看。<br/>

   对于企业管理而言，作为一个领导者如何让自己的小伙伴们死心塌地，心甘情愿跟着自己干事业？靠的不是高薪厚职亦或者是股权分红，而是赢得其心。正所谓得民心者得天下，能够赢得属下的真心支持，方能成就一番事业。<br/>

   《孙子兵法》有云：“视卒如婴儿，故可以与之赴深溪；视卒如爱子，故可与之俱死。”（当然了，还得防止如其所言“厚而不能使，爱而不能令，乱而不能治，譬若骄子，不可用也。 ”）<br/>

   企业最宝贵的财富就是人才，最难得是人心所向，真诚地建立良好的沟通机制，充分激发他们的积极性。作为领导者无需鸿篇大论，只需要在感情细节上有所注意即可产生意想不到的效果。<br/>

   反过来说，如果一个企业管理体系混乱不堪，彼此之间相互猜忌，感情疏远，纯粹以“利用”心态来管理，那么只会动摇军心，再好的人才也只能说是浪费。<br/>

   其实，每个人都有自己所擅长的一方面，也可以说每个人都是人才，关键点在于会不会“用人”。及同行业的共同认可。<br/>
   我们时常看电视里常常演到“...拿下某某某赏一百大洋...”,说白了是冲着大洋去的；但如果危急关头，情节上基本都逃之夭夭，我们可以看这两个对象，其"属性"应该都不言而喻了吧...<br/>

   而真正的军队，他们每个人心中都有一个共同的信仰或者是梦想，他们是为了实现共同的梦想，坚守着共同的信仰去努力奋斗！<br/>

   因此呢，我们需要的是一个有共同“信仰”，共同“梦想”的“正规军”！<br/>
  </div>
 </article>
 <aside class="A-right Overflow">
  <div class="AAlist">
   <span class="AAlt FontW Font14 Block">相关文章推荐版块</span>
   <ul>
    <li><a href="article_read.html" target="_blank" title="这里是推荐某分类文章">这里是推荐某分类文章...</a></li>
   </ul>
  </div>
  <!--广告位-->
  <div style="margin:8px 0;">
   <a href="#" target="_blank"><img src="/uploads/ggw.jpg"></a>
  </div>
 </aside>
</section>
<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  <a href="http://www.deathghost.cn" target="_blank" title="DeathGhost">DeathGhost</a>
  <a href="http://www.17sucai.com/pins/15966.html" target="_blank" title="免费后台管理模板">绿色清爽版通用型后台管理模板免费下载</a>
  <a href="http://www.17sucai.com/pins/17567.html" target="_blank" title="果蔬菜类模板源码">HTML5果蔬菜类模板源码</a>
  <a href="http://www.17sucai.com/pins/14931.html" target="_blank" title="黑色的cms商城网站后台管理模板">黑色的cms商城网站后台管理模板</a>
 </div>


