<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
	
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/storejoin/index" title="商家管理">商家管理</a></li>
					<li><a href="/admin/user/userlist" title="用户管理">用户管理</a></li>
					
		</ul>
	</dd>
	<dd>
				
	</dd>
</dl>

		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="product-brand.html" title="库存销售">库存销售</a></li>
					<li><a href="/admin/dishes/getAllDishesList.html" title="全部商品">全部商品</a></li>
					<li><a href="/admin/dishes/product_category" title="商品分类">商品分类</a></li>
					
		</ul>
	</dd>
</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 订单查询<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="http://h-ui.duoshuo.com/admin/" title="未支付订单">未支付订单</a></li>
					<li><a href="feedback-list.html" title="未确认订单">未确认订单</a></li>
					<li><a href="feedback-list.html" title="未确认订单">未出库订单</a></li>
					<li><a href="feedback-list.html" title="未确认订单">未发货订单</a></li>
					<li><a href="feedback-list.html" title="未确认订单">已完成订单</a></li>
		</ul>
	</dd>
</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="member-list.html" title="会员列表">账单明细</a></li>
					
		</ul>
	</dd>
</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/authority/addrole" title="添加角色">添加角色</a></li>
					<li><a href="/admin/authority/admin_role" title="角色管理">角色管理</a></li>
					<li><a href="/admin/authority/add_node" title="添加角色">添加权限</a></li>
					<li><a href="/admin/authority/admin_permission" title="权限管理">权限管理</a></li>
					<li><a href="/admin/authority/adduser" title="添加用户">添加用户</a></li>
					<li><a href="/admin/authority/admin_user" title="用户管理">用户管理</a></li>
					<li><a href="/admin/user/adminlist" title="管理员管理">管理员管理</a></li>
		</ul>
	</dd>
</dl>

		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 单位管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="admin-role.html" title="商品单位分类">商品单位分类</a></li>
					<li><a href="admin-permission.html" title="商品单位管理">商品单位管理</a></li>
					
		</ul>
	</dd>
</dl>

<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					
					
					<li><a href="/admin/article/serverFee.html" title="服务费用">服务费用</a></li>
					
					<li><a href="/admin/article/website.html" title="网站介绍">网站介绍</a></li>
					<li><a href="/admin/article/information.html" title="公司公告">公司公告</a></li>
					<li><a href="/admin/article/storeBus.html" title="商家加盟">商家加盟</a></li>
					<li><a href="/admin/article/serverCon.html" title="服务内容">服务内容</a></li>
					<li><a href="/admin/article/question.html" title="常见问题">常见问题</a></li>
					<li><a href="/admin/article/question.html" title="网站地图">网站地图</a></li>
		</ul>
	</dd>
</dl>
		
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/article/sendWay.html" title="配送方式">配送方式</a></li>
					<li><a href="system-category.html" title="友情链接">友情链接</a></li>
					<li><a href="/admin/article/payWay.html" title="支付方式">支付方式</a></li>
					<li><a href="/admin/article/sendEffic.html" title="配送效率">配送效率</a></li>
					
		</ul>
	</dd>
</dl>
</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->
