{include file="head"}
<!--Start content-->
<section class="Psection MT20">
{include file="order_left"}
 <article class="U-article Overflow">
  <!--user message-->
  <section class="Mymessage Overflow">
   <span class="Mmtitle Block Font14 FontW Lineheight35">我的留言</span>
	 <table class="Myorder">
     <th class="Font14 FontW">留言主题</th>
	 <th class="Font14 FontW">我的名称</th>
	 <th class="Font14 FontW">店铺名称</th>
     <th class="Font14 FontW">商品名称</th>
   
     <th class="Font14 FontW">操作</th>
     {foreach $data as $key=>$value}
	 <tr>
      <td>{$value['message_name']}</td>
      <td>{$value['user_name']}</td>
	  <td>{$value['shop_name']}</td>
	  <td>{$value['menu_name']}</td>
      <td>
	  <a href="/index/usermessage/viewUserMess?menu_id={$value['menu_id']}&shop_id={$value['shop_id']}">查看回复</a> |

	  <a href="javascript:void(0);" onclick="del({$value['menu_id']},{$value['shop_id']})"">删除留言</a>
	  </td>

	</tr>
	{/foreach}
    </table>
       <div class="TurnPage">
         <a href="#">
          <span class="Prev"><i></i>首页</span>
         </a>
         <a href="#"><span class="PNumber">1</span></a>
         <a href="#"><span class="PNumber">2</span></a>
         <a href="#">
         <span class="Next">最后一页<i></i></span>
        </a>
       </div>

  </section>
 </article>
</section>
<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  <a href="http://www.deathghost.cn" target="_blank" title="DeathGhost">DeathGhost</a>
  <a href="http://www.17sucai.com/pins/15966.html" target="_blank" title="免费后台管理模板">绿色清爽版通用型后台管理模板免费下载</a>
  <a href="http://www.17sucai.com/pins/17567.html" target="_blank" title="果蔬菜类模板源码">HTML5果蔬菜类模板源码</a>
  <a href="http://www.17sucai.com/pins/14931.html" target="_blank" title="黑色的cms商城网站后台管理模板">黑色的cms商城网站后台管理模板</a>
 </div>
{include file="foot"}

<script>
		function del(menu_id,shop_id)
		{
		
		 if (confirm('是否删除订单?'))
		 {
		 console.log(menu_id);
		 console.log(shop_id);
			//menu_id商品id   shop_id商家id
			$.get('/index/usermessage/delUserMess',{menu_id:menu_id,shop_id:shop_id},function(data){
				if(data)
				{
					window.location.reload();
					//alert('删除成功');
				}
			
			},'json'); 
		 }
	}
	
</script>