<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>手机扫描二维码：</p>
    <img src="__PUBLIC_INDEX__images/Android_ico_d.gif">
    <img src="__PUBLIC_INDEX__images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>1830927**73</i></p>
    <p>配送时间</p>
    <p><time>09：00</time>~<time>22:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="/index/article/articleRead.html" target="_blank" title="标题">支付方式</a></li>
     <li><a href="/index/article/articleRead.html" target="_blank" title="标题">配送方式</a></li>
  

    </ul>
    </div>
    <div>
    <span><i class="i2"></i>友情链接</span>
    <ul>
      {foreach $link as $v}
     <li><a href="{$v['url']}" target="_blank" title="标题">{$v['name']}</a></li>
     {/foreach}
    
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="article_read.html" target="_blank" title="标题">服务内容</a></li>
    
     <li><a href="article_read.html" target="_blank" title="标题">联系方式</a></li>
    </ul>
    </div>
  </section>
 </section>
<div class="copyright">© 版权所有 2016 DeathGhost 技术支持：<a href="http://www.deathghost.cn" title="DeathGhost">DeathGhost</a></div>
</footer>
</body>
</html>