<nav class="U-nav Font14 FontW">
  <ul>
   <li><i></i><a href="{:url('index/user/user_center')}">用户中心</a></li>
   <li><i></i><a href="{:url('index/order/user_orderlist')}">我的订单</a></li>
   <li><i></i><a href="user_address.html">我的地址</a></li>
   <li><i></i><a href="user_message.html">我的留言</a></li>
   <li><i></i><a href="user_coupon.html">我的优惠券</a></li>
   <li><i></i><a href="user_favorites.html">我的收藏</a></li>
    <li><i></i><a href="{:url('index/user/user_account')}">账户管理</a></li>
   <li><i></i><a href="{:url('index/user/drop')}">安全退出</a></li>
  </ul>
 </nav>