<nav class="U-nav Font14 FontW">
  <ul>
   <li><i></i><a href="{:url('index/user/user_center')}">用户中心</a></li>
   <li><i></i><a href="{:url('index/order/user_orderlist')}">我的订单</a></li>
   <li><i></i><a href="{:url('index/address/userAddress')}">我的地址</a></li>
   <li><i></i><a href="{:url('index/usermessage/userMessage')}">我的留言</a></li>
   <li><i></i><a href="{:url('index/usermenu/user_menu')}">我的商品</a></li>
   <li><i></i><a href="{:url('index/userfavorites/user_favorites')}">我的收藏</a></li>
    <li><i></i><a href="{:url('index/user/user_account')}">修改信息</a></li>
   <li><i></i><a href="{:url('index/user/drop')}">安全退出</a></li>
  </ul>
 </nav>